{% load static %}
<!-- navigation section -->
<header class="header">
  <div class="container">
    <!-- logo -->
    <div class="logo">
      <a href="{% url 'index' %}">
        
        <img {% if website_details.logo_white %}src="{{website_details.logo_white.url}}"{% endif %} width="250" alt="{{website_details.logo_black_alt_text}}"
      /></a>
    </div>
    <!-- logo -->
    <!-- nav menu -->
    <nav class="menu">
      <div class="head">
        <img {% if website_details.logo_black %}src="{{website_details.logo_black.url}}"{% endif %} alt="{{website_details.logo_black_alt_text}}" />
        <button type="button" class="close-menu-btn"></button>
      </div>

      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
        <li class="dropdown">
          <a href="{% url 'services' %}">Services</a>
          <i class="fa-solid fa-caret-down"></i>
          <ul class="sub-menu">
            {% for service in services %}
            {% if service.sub_menu == True %}
            <li class="dropdown">
              <a href="{% url 'service_details' service.slug %}"><span>{{service.service_name}}</span></a>
              <i class="fa-solid fa-caret-down"></i>
              <ul class="sub-menu sub-menu-right">
                {% for sub_service in sub_services %}
                {% if sub_service.sub_menu == True %}
                <li class="dropdown">
                  <a href="{% url 'service_details' service.slug sub_service.slug %}"><span>{{sub_service.service_name}}</span></a>
                  <i class="fa-solid fa-caret-down"></i>
                  <ul class="sub-menu sub-menu-right">
                    {% for sub_sub_service in sub_sub_services %}
                    <li>
                      <a href="{% url 'service_details' service.slug sub_service.slug sub_sub_service.slug %}"><span>{{sub_sub_service.service_name}}</span></a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'service_details' service.slug  sub_service.slug %}">{{sub_service.service_name}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li>
              <a href="{% url 'service_details' service.slug %}">{{service.service_name}}</a>
            </li>
            {% endif %}
            
            {% endfor %}
          </ul>
        </li>
        <li><a href="{% url 'team' %}">Team</a></li>
        <li class="dropdown">
          <a href="{% url 'blog' %}">blog</a>
          <i class="fa-solid fa-caret-down"></i>
          <ul class="sub-menu">
            {% for category in categories %}
            <li>
              <a href="{% url 'category' category_slug=category.slug %}"><span>{{category.name}}</span></a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="{% url 'contact' %}" class="quote-btn">get a quote</a>
      <button type="button" class="open-menu-btn">
        <span class="under-line line-1"></span>
        <span class="under-line line-2"></span>
        <span class="under-line line-3"></span>
      </button>
    </div>
    <!-- nav menu -->
  </div>
</header>
<!-- navigation section -->
